<html>
<head>
	<title>
	Pet your pet
	</title>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  	<link rel="stylesheet" href="/styles.css">
</head>

	<body>

	<center><h1> -- Virtual Pet Ver 1.0 -- </h1></center>

	<div class = "gameboy" id ="app">

		<div class = "powerRegion">
			<div class = "power"></div>
		</div>

		<div v-if="gamestate === 'starting'">
			<div class = "screen">
			Virtual Pet VER1.0
			<br> Copyright 1990
			<br>By Vagrant Dragons
			<br>Softworks
			<br>
			<br>-- Press Start --
			</div>
		</div>

		<div v-else-if="gamestate === 'choose'">
			<div class = "screen">
				Choose pet type:
				<br>

				<div class = "petDisplay">
					A
					<br><img src = "/pet_a/default1.png">
				</div>

				<div class = "petDisplay">
					B
					<br><img src = "/pet_b/default1.png">
				</div>

			</div>
		</div>

		<div v-else-if="gamestate === 'bedroom'">
			<div class = "screen mainRoom">
				{{currentMessage}}
				<div id = "pet" class = "pet">
					<img v-bind:src= "pet.image + pet.behavior + pet.currentFrame + '.png'">
				</div>

				<div class = "menuDisplay" v-for="n in menu.count" :key="n">
					<div class = "arrow" v-if='n === menu.current'>
						<img src="mainmenu/arrow.png">
					</div>
					<img v-bind:src="menu.images + n + '.png'">
				</div>
			</div>
		</div>

		<div v-else-if="gamestate === 'stats'">
			<div class = "screen">
			-- Pet Status --
			<br>Heath : {{pet.health}}
			<br>Happiness : {{pet.happiness}}
			<br>Hunger : {{pet.hunger}}
			<br>
			<br>Current Status: {{pet.GetHeath()}}
			<br>
			<br> --Press Start
			<br> --To Return
			<br> --To the Bedroom
			</div>
		</div>

		<div class = "buttons">
			<button class="buttonStart" v-on:click="pressedStart()">START</button>
			<button class="buttonRound" v-on:click="pressedA()">A</button>
			<button class="buttonRound" v-on:click="pressedB()">B</button>
		</div>
	</div>
	<center>
		<p>
		Take good care of your pet!
		<br>Be sure to feed it, and keep it happy!
		<br>
		<br><a href = "https://github.com/cbshuman/CreativeProject3"><img src = "images/git.png"></a>
		</p>
	</center>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
	<script text="type/javascript" src="/script.js"></script>
	</body>

</html>
